<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		ANIDĚTI
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/kurzy" class="pa3 no-underline db">Kurzy</a></li>

		<li><a href="/novinky" class="pa3 no-underline db">Novinky</a></li>

		<li><a href="/filmy" class="pa3 no-underline db">Filmy</a></li>

		<li><a href="/kontakt" class="pa3 no-underline db">Kontakt</a></li>
	</ul>

</nav>
